/* Html and Body */
html{
	width: 100%;
	height: 100%;	
	background-color: black;
}

body{
	width: 100%;
	height: 100%;
	background-color: black;
}

/* sections */
.container{
	width: 100%;
	height: 100%;
	background-color: grey;
	display: grid;
	grid-template-columns: 65% 35%;
}

#system{
	background-color: black;
	position: relative;
	height: 100%;
	width: 100%;
}

#aboutMeSection, #checkersSection, #moviesSection, #storybookSection{
	width: 100%;
	height: auto;
	color: #0982BB;
	display: none;
	background-color: black;
	grid-template-rows: auto 20px auto;
}

#contactsSection{
	width: 100%;
	height: auto;
	color: #bb9d09;
	display: none;
	background-color: black;
	justify-content: center;
	align-items: center;
}


#home{
	display: none;
}


/* sun and planets */
.sun{
	width: 8vmin;
	height: 8vmin;
	border-radius: 50%;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 50%;
	background:radial-gradient(ellipse at center, #ffd000 1%,#f9b700 39%,#f9b700 39%,#e06317 100%);
	box-shadow: 0 0 20px 8px rgba(255, 107, 0, 0.4), 0 0 32px 18px rgba(255, 203, 0, 0.13);
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.planet{
	border-radius: 50%;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 50%;
	margin: 0 auto;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
	display: grid;
	justify-content: center;
	justify-items: center;
	align-items: center;
	animation-fill-mode: forwards;
}

.planet:hover{
	animation-play-state: paused;
}

#mercury{
	width: 5vmin;
	height: 5vmin;
	background-color: #3c01bb;
	animation: mercury-orbit 21s linear infinite;
}

#venus{
	width: 5vmin;
	height: 5vmin;
	background-color: #bb9d09;
	animation: venus-orbit 8s linear infinite;
}

#earth{
	width: 5vmin;
	height: 5vmin;
	background-color: #bb4409;
	animation: earth-orbit 13s linear infinite;
}

.icon{
	width: 98%;
	height: 98%;
	margin: auto;
}

/* navigation */
.nav{
	background-color: black;
	display: grid;
	align-items: center;
	height: 100%;
	width: 100%;
	grid-template-rows: auto 70% auto;
	padding: auto 1vmin;
}

.description{
	color: #0982BB;
	list-style-type: none;
	margin: 3vh;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
	font-weight: bold;
}

#contacts{
	display: grid;
	grid-template-rows: auto auto;
	list-style-type: none;
	color: #bb9d09;
	font-size: 1em;
	position: sticky;
	justify-content: end;
	margin: auto;
}

#icons{
	display: grid;
	grid-template-columns: auto auto auto auto;	
	gap: 34px;
	justify-items: center;
	text-align: center;
	justify-content: center;
}

.icon{
	height: 40px;
	width: auto;
}

#ephone{
	grid-template-columns: auto auto;	
	justify-items: center;
}

.logo{
	width: 70%;
	height: auto;
	cursor: pointer;
}

#phone, #email{
	display: none;
}

/* pages */
.pictures{
	display: grid;
	grid-auto-flow: column;
	grid-gap: 20px;
	margin: auto 3vh;
	align-items: center;
}

.snapshot{
	width: 100%;
	height: auto;
	margin: 1vmin auto;
}

.text{
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 1vh 5vw;
}

.links{
	display: grid;
	justify-content: center;
	text-align: center;
}


h1, p, li, a{
	font-family: DejaVu Sans Mono, monospace;
	text-decoration: inherit;
}

p{
	color: #bb9d09 !important;
	font-size: 1em;
}

a{
	color: #bb0035;
}

span{
	color: #0982BB;
}

/* animations */
@keyframes mercury-orbit {
	from { 	transform: rotate(0deg) translateX(42vmin) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(42vmin) rotate(-360deg); }
}

@keyframes earth-orbit {
	from { 	transform: rotate(0deg) translateX(34vmin) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(34vmin) rotate(-360deg); }
}

@keyframes venus-orbit {
	from { 	transform: rotate(0deg) translateX(21vmin) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(21vmin) rotate(-360deg); }
}

/* mobile */
@media (max-width:500px){
	.container{
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}

	#contacts{
		position: relative;
		margin: 5vmin auto;
	}
}
